# Supabase 配置
EXPO_PUBLIC_SUPABASE_URL=https://ptmfiaysmkapqchpcpck.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# 阿里百炼 API 配置
EXPO_PUBLIC_BAILIAN_API_KEY=your_bailian_api_key
EXPO_PUBLIC_BAILIAN_ENDPOINT=https://dashscope.aliyuncs.com
EXPO_PUBLIC_BAILIAN_WORKSPACE_ID=your_workspace_id

# Medito API 配置
EXPO_PUBLIC_MEDITO_CONTENT_BASE_URL=https://v2.api.medito.dev/
EXPO_PUBLIC_MEDITO_API_KEY=Librarian1-Footer9-Untangled5-Supremacy2
